span.btn-like{
    cursor: pointer;
}
span.btn-like:hover{
    color: #f44336;
}

span.btn-unlike{
    cursor: pointer;
}
span.btn-unlike:hover{
    color: #f44336;
}

ul.horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

li.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 90%;
  /* 見た目調整 */
  height: 400px;
  margin: 16px;
  font-size: 48px;
  background: rgba(255, 0, 0, 0.4);
}

