<div class="users content">
	<h3>パスワードをリセット</h3>
    メールアドレスを入力してください。
	<?php
    	echo $this->Form->create();
        echo $this->Form->input('email', ['label' => '']);
		echo $this->Form->button('リセットメールを送信');
    	echo $this->Form->end();
	?>
</div>

